<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kentico Examp Preparation</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
</head>

<body ng-app="examPrepApp" layout="row" ng-controller="QuestionController as ul">

<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')">

    <md-toolbar class="md-whiteframe-z1">
        <h1>Questions</h1>
    </md-toolbar>

    <md-list>
        <h3>Basic Functionality</h3>
        <md-list-item ng-repeat="it in ul.questions | filter: {category:'Basic Functionality'}">
            <md-button ng-click="ul.selectQuestion(it)" ng-class="{'selected' : it === ul.selected }">
                <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                {{it.name}}
            </md-button>
        </md-list-item>

        <h3>Application Programming Interface</h3>
        <md-list-item ng-repeat="it in ul.questions | filter: {category:'Application Programming Interface'}">
            <md-button ng-click="ul.selectQuestion(it)" ng-class="{'selected' : it === ul.selected }">
                <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                {{it.name}}
            </md-button>
        </md-list-item>
    </md-list>

</md-sidenav>


<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show Question List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Exam Preparation</h1>
    </md-toolbar>

    <md-content flex id="content">
        <div layout="row" layout-sm="column">
            <div flex="67" flex-sm="100" flex-order-sm="2"><h2>{{ul.selected.name}}</h2>

                <p>{{ul.selected.content}}</p>
                <ul>
                    <md-list-item ng-repeat="item in ul.selected.answers">
                        <md-checkbox ng-model="isChecked.item.text" aria-label="{{item.text}}" ng-click="ul.validateAnswer(item)">
                        </md-checkbox>
                        {{item.text}}
                    </md-list-item>

                </ul>
                <md-button class="md-raised center-align" ng-click="ul.submitAnswer()"> Submit Answer </md-button>
            </div>
            <div flex flex-order-sm="1" class="sidebar">
                <div layout="column" layout-sm="row">
                    <div flex>
                        <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
                    </div>
                    <div flex><p>{{ul.selected.category}}</p>
                    </div>
                </div>
            </div>
        </div>



    </md-content>

</div>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

<script src="./src/questions/Questions.js"></script>
<script src="./src/questions/QuestionController.js"></script>
<script src="./src/questions/QuestionService.js"></script>

<script type="text/javascript">

    angular
            .module('examPrepApp', ['ngMaterial', 'questions', 'ui.utils'])
            .config(function ($mdThemingProvider, $mdIconProvider) {

                $mdIconProvider
                        .defaultIconSet("./assets/svg/avatars.svg", 128)
                        .icon("menu", "./assets/svg/menu.svg", 24)
                        .icon("share", "./assets/svg/share.svg", 24)
                        .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                        .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                        .icon("twitter", "./assets/svg/twitter.svg", 512)
                        .icon("phone", "./assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                        .primaryPalette('blue')
                        .accentPalette('red');

            });

</script>

</body>
</html>
